doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.hero
                .hero-body
                    .container.has-text-centered
                        h1.title.is-spaced The New Internet
                        h2.subtitle Decentralized, secure, private. The PiperNet is on it's way to revolutionize every smartphone, PC, and smart-fridge near you.

                        .buttons.is-centered
                            a.control.button.is-primary(href="#") Sign up for free
                            a.control.button.is-light(href="#") Read more

            section.section
                .container
                    h2.title.has-text-centered Frequently Asked Questions

                    .list.is-hoverable
                        a.list-item(href="#") 
                            .media
                                .media-content How is a decentralized network different from the traditional web?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")
                        a.list-item(href="#") 
                            .media
                                .media-content Why shouldn't I just store my data on a Hooli Box?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")
                        a.list-item(href="#") 
                            .media
                                .media-content What makes PiperNet so safe?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")
                        a.list-item(href="#") 
                            .media
                                .media-content How long does it take to get a company up and running on PiperNet?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")            
                        a.list-item(href="#") 
                            .media
                                .media-content How is a decentralized network different from the traditional web?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")
                        a.list-item(href="#") 
                            .media
                                .media-content Why shouldn't I just store my data on a Hooli Box?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")

            footer.footer
                .container
                    .level
                        .level-left
                            .level-item
                                a.title.is-4(href="#") Pied Piper
                        .level-right
                            a.level-item(href="#") Features
                            a.level-item(href="#") Enterprise
                            a.level-item(href="#") Support
                            a.level-item(href="#") ICO

                    hr

                    .columns
                        .column
                            .buttons
                                a.button(href="#")
                                    img(src="placeholder/icons/twitter.svg", alt="")
                                a.button(href="#")
                                    img(src="placeholder/icons/facebook-f.svg", alt="")
                                a.button(href="#")
                                    img(src="placeholder/icons/instagram.svg", alt="")

                        .column.has-text-centered.has-text-right-tablet
                            p.subtitle.is-6 &copy; 2019 Pied Piper. All right reserved.